{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for alibaba/wan-3.0/image-to-video","version":"1.0.0","description":"The OpenAPI schema for the alibaba/wan-3.0/image-to-video queue.","x-fal-metadata":{"endpointId":"alibaba/wan-3.0/image-to-video","category":"image-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/0aa4eab2/NRKAFB7Ix6zejRmcdJ4ZM.jpg","playgroundUrl":"https://fal.ai/models/alibaba/wan-3.0/image-to-video","documentationUrl":"https://fal.ai/models/alibaba/wan-3.0/image-to-video/api","about":"Generate a video from a first frame, optionally to a last frame."}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"Wan30ImageToVideoInput":{"x-fal-order-properties":["prompt","resolution","aspect_ratio","duration","audio","enable_prompt_expansion","enable_thinking","seed","enable_safety_checker","start_image_url","end_image_url"],"properties":{"end_image_url":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Last frame of the generated video. Requires start_image_url.","title":"End Image Url"},"start_image_url":{"type":"string","description":"First frame of the generated video.","title":"Start Image Url"},"audio":{"title":"Audio","type":"boolean","description":"Include generated audio.","default":true},"enable_prompt_expansion":{"type":"boolean","description":"Enable intelligent prompt rewriting. Disabling it can save roughly 20-60 seconds of latency but is likely to degrade generation quality.","title":"Enable Prompt Expansion","default":true},"resolution":{"title":"Resolution","enum":["480p","720p","1080p"],"type":"string","description":"Output video resolution tier.","default":"1080p"},"enable_thinking":{"title":"Enable Thinking","type":"boolean","description":"Enable enhanced reasoning before generation.","default":false},"enable_safety_checker":{"type":"boolean","description":"Enable content moderation for input and output. Disabling it requires account authorization; unauthorized requests are always checked.","title":"Enable Safety Checker","default":true},"aspect_ratio":{"title":"Aspect Ratio","enum":["adaptive","16:9","4:3","1:1","3:4","9:16"],"type":"string","description":"Output aspect ratio, or adaptive selection.","default":"adaptive"},"prompt":{"anyOf":[{"maxLength":20000,"type":"string"},{"type":"null"}],"description":"Text prompt describing the motion to generate.","title":"Prompt"},"seed":{"anyOf":[{"type":"integer","minimum":0,"maximum":2147483647},{"type":"null"}],"title":"Seed"},"duration":{"anyOf":[{"type":"integer","minimum":2,"maximum":30},{"type":"null"}],"title":"Duration","description":"Output duration in seconds. Set to null for smart duration, which lets the model pick a length from the prompt and reference media.","default":5}},"type":"object","required":["start_image_url"],"title":"Wan30ImageToVideoInput"},"Wan30ImageToVideoOutput":{"x-fal-order-properties":["video","seed","duration","actual_prompt"],"properties":{"actual_prompt":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Actual Prompt"},"video":{"description":"The generated video file.","$ref":"#/components/schemas/VideoFile"},"seed":{"type":"integer","description":"The seed used for generation.","title":"Seed"},"duration":{"type":"number","description":"Generated video duration in seconds.","title":"Duration"}},"type":"object","required":["video","seed","duration"],"title":"Wan30Output"},"VideoFile":{"x-fal-order-properties":["url","content_type","file_name","file_size","width","height","fps","duration","num_frames"],"properties":{"url":{"type":"string","description":"The URL where the file can be downloaded from.","title":"Url"},"num_frames":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The number of frames in the video","title":"Num Frames"},"file_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"examples":[4404019],"description":"The size of the file in bytes.","title":"File Size"},"height":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The height of the video","title":"Height"},"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["image/png"],"description":"The mime type of the file.","title":"Content Type"},"width":{"anyOf":[{"type":"integer"},{"type":"null"}],"description":"The width of the video","title":"Width"},"fps":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"The FPS of the video","title":"Fps"},"duration":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"The duration of the video","title":"Duration"},"file_name":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["z9RV14K95DvU.png"],"description":"The name of the file. It will be auto-generated if not provided.","title":"File Name"}},"type":"object","required":["url"],"title":"VideoFile"}}},"paths":{"/alibaba/wan-3.0/image-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/alibaba/wan-3.0/image-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/alibaba/wan-3.0/image-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wan30ImageToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/alibaba/wan-3.0/image-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Wan30ImageToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}