{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for bytedance/seedance-2.5/image-to-video","version":"1.0.0","description":"The OpenAPI schema for the bytedance/seedance-2.5/image-to-video queue.","x-fal-metadata":{"endpointId":"bytedance/seedance-2.5/image-to-video","category":"image-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/0aa30ef9/4Ux9T9X2458w7LH1AI_oz.jpg","playgroundUrl":"https://fal.ai/models/bytedance/seedance-2.5/image-to-video","documentationUrl":"https://fal.ai/models/bytedance/seedance-2.5/image-to-video/api","about":"Image To Video"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"Seedance25ImageToVideoInput":{"title":"Seedance2I2VInput","x-fal-order-properties":["prompt","image_url","end_image_url","resolution","draft","duration","aspect_ratio","generate_audio","bitrate_mode","codec","end_user_id"],"properties":{"generate_audio":{"description":"Whether to generate synchronized audio for the video, including sound effects, ambient sounds, and lip-synced speech. The cost of video generation is the same regardless of whether audio is generated or not.","title":"Generate Audio","default":true,"type":"boolean"},"image_url":{"description":"The URL of the starting frame image to animate. Supported formats: JPEG, PNG, WebP. Max 30 MB.","title":"Image Url","type":"string","examples":["https://v3b.fal.media/files/b/0a8eba37/Cqg-4Uwzyz4DELfceT1CF_a17e588773ec45b1a9e6f100a787b80b.jpg"]},"end_user_id":{"description":"The unique user ID of the end user.","title":"End User Id","anyOf":[{"type":"string"},{"type":"null"}]},"resolution":{"description":"Video resolution - 480p for faster generation, 720p for balance, 1080p for high quality.","enum":["480p","720p","1080p"],"title":"Resolution","default":"720p","type":"string"},"prompt":{"description":"The text prompt describing the desired motion and action for the video.","title":"Prompt","examples":["An octopus finds a football in the ocean and excitedly calls its octopus friends to come and play. Cut scene to an octopus football game under the sea."],"anyOf":[{"type":"string"},{"type":"null"}]},"codec":{"description":"'auto' retains default video codec behaviour; 'H264' uses H.264; 'H265' uses H.265.","enum":["auto","H264","H265"],"title":"Codec","default":"auto","type":"string","examples":["auto","H264","H265"]},"aspect_ratio":{"description":"The aspect ratio of the generated video. Always \"auto\" for image-to-video","title":"Aspect Ratio","default":"auto","const":"auto","type":"string"},"duration":{"description":"Duration of the video in seconds. Supports 4 to 30 seconds, or auto to let the model decide based on the prompt.","enum":["auto","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30"],"title":"Duration","default":"auto","type":"string"},"draft":{"description":"Generate a draft preview at 480p, overriding resolution. Returns a draft_id for completing the draft at 1080p within seven days.","title":"Draft","default":false,"type":"boolean"},"end_image_url":{"description":"The URL of the image to use as the last frame of the video. When provided, the generated video will transition from the starting image to this ending image. Supported formats: JPEG, PNG, WebP. Max 30 MB.","title":"End Image Url","anyOf":[{"type":"string"},{"type":"null"}]},"bitrate_mode":{"description":"Output bitrate mode. 'high' requests a higher-quality, larger-file encode from the model; 'standard' uses the default bitrate.","enum":["standard","high"],"title":"Bitrate Mode","default":"standard","type":"string","examples":["standard"]}},"required":["image_url"],"type":"object"},"Seedance25ImageToVideoOutput":{"title":"Seedance2VideoOutput","x-fal-order-properties":["video","seed","draft_id"],"properties":{"video":{"description":"The generated video file.","$ref":"#/components/schemas/File","examples":[{"url":"https://storage.googleapis.com/falserverless/example_outputs/bytedance/seedance_2/output.mp4"}]},"draft_id":{"description":"The draft ID, or null when draft mode is disabled. Complete this draft within seven days using the same account.","title":"Draft Id","anyOf":[{"type":"string"},{"type":"null"}]},"seed":{"description":"The seed used for generation.","title":"Seed","type":"integer","examples":[42]}},"required":["video","seed"],"type":"object"},"File":{"title":"File","x-fal-order-properties":["url","content_type","file_name","file_size"],"properties":{"content_type":{"description":"The mime type of the file.","title":"Content Type","examples":["image/png"],"anyOf":[{"type":"string"},{"type":"null"}]},"file_name":{"description":"The name of the file. It will be auto-generated if not provided.","title":"File Name","examples":["z9RV14K95DvU.png"],"anyOf":[{"type":"string"},{"type":"null"}]},"file_size":{"description":"The size of the file in bytes.","title":"File Size","examples":[4404019],"anyOf":[{"type":"integer"},{"type":"null"}]},"url":{"description":"The URL where the file can be downloaded from.","title":"Url","type":"string"}},"required":["url"],"type":"object"}}},"paths":{"/bytedance/seedance-2.5/image-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/bytedance/seedance-2.5/image-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/bytedance/seedance-2.5/image-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Seedance25ImageToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/bytedance/seedance-2.5/image-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Seedance25ImageToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}