{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/veo3.1/fast/reference-to-video","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/veo3.1/fast/reference-to-video queue.","x-fal-metadata":{"endpointId":"fal-ai/veo3.1/fast/reference-to-video","category":"image-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/penguin/G4gMW4C57OPjhZxeHjr5n_afcc67d98aa7435aa3c3e0fcb3f76d12.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/veo3.1/fast/reference-to-video","documentationUrl":"https://fal.ai/models/fal-ai/veo3.1/fast/reference-to-video/api","about":"Generate videos from reference image(s) and text using Google's Veo 3.1 Fast model.\n\nThe prompt should describe how to animate between the first and last frame. Include:\n- Action: How the first and last frame should be animated\n- Style: Desired animation style\n- Camera motion (optional): How camera should move\n- Ambiance (optional): Desired mood and atmosphere\n\nMore details are available in our [prompting guide](https://blog.fal.ai/mastering-video-generation-with-veo-2-a-comprehensive-guide/).\n\nThe model supports:\n- Input images up to 8MB in size\n- 720p or 1080p output resolution\n- Natural motion and realistic animations\n- Control over animation via text prompts\n\nSafety filters are applied to both input images and generated content."}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"Veo31FastReferenceToVideoInput":{"title":"Veo31ReferenceToVideoInput","type":"object","properties":{"generate_audio":{"title":"Generate Audio","type":"boolean","description":"Whether to generate audio for the video.","default":true},"image_urls":{"title":"Image Urls","type":"array","examples":[["https://storage.googleapis.com/falserverless/example_inputs/veo31-r2v-input-1.png","https://storage.googleapis.com/falserverless/example_inputs/veo31-r2v-input-2.png","https://storage.googleapis.com/falserverless/example_inputs/veo31-r2v-input-3.png"]],"items":{"type":"string"},"description":"URLs of the reference images to use for consistent subject appearance"},"duration":{"title":"Duration","const":"8s","type":"string","description":"The duration of the generated video.","default":"8s"},"aspect_ratio":{"title":"Aspect Ratio","enum":["16:9","9:16"],"type":"string","description":"The aspect ratio of the generated video.","default":"16:9"},"safety_tolerance":{"title":"Safety Tolerance","enum":["1","2","3","4","5","6"],"type":"string","description":"The safety tolerance level for content moderation. 1 is the most strict (blocks most content), 6 is the least strict.","default":"4"},"resolution":{"title":"Resolution","enum":["720p","1080p","4k"],"type":"string","description":"The resolution of the generated video.","default":"720p"},"auto_fix":{"title":"Auto Fix","type":"boolean","description":"Whether to automatically attempt to fix prompts that fail content policy or other validation checks by rewriting them.","default":false},"prompt":{"title":"Prompt","type":"string","examples":["A chimpanzee wearing overalls frolics in the grassy field, gently playing with the butterflies. In the background, a circus tent and carousel beckon."],"description":"The text prompt describing the video you want to generate","maxLength":20000}},"x-fal-order-properties":["prompt","aspect_ratio","duration","resolution","generate_audio","auto_fix","safety_tolerance","image_urls"],"required":["prompt","image_urls"]},"Veo31FastReferenceToVideoOutput":{"title":"Veo31ReferenceToVideoOutput","type":"object","properties":{"video":{"$ref":"#/components/schemas/File","examples":[{"url":"https://storage.googleapis.com/falserverless/example_outputs/veo31-r2v-output.mp4"}],"description":"The generated video."}},"x-fal-order-properties":["video"],"required":["video"]},"File":{"title":"File","type":"object","properties":{"url":{"title":"Url","type":"string","description":"The URL where the file can be downloaded from."},"content_type":{"title":"Content Type","examples":["image/png"],"description":"The mime type of the file.","anyOf":[{"type":"string"},{"type":"null"}]},"file_size":{"title":"File Size","examples":[4404019],"description":"The size of the file in bytes.","anyOf":[{"type":"integer"},{"type":"null"}]},"file_name":{"title":"File Name","examples":["z9RV14K95DvU.png"],"description":"The name of the file. It will be auto-generated if not provided.","anyOf":[{"type":"string"},{"type":"null"}]}},"x-fal-order-properties":["url","content_type","file_name","file_size"],"required":["url"]}}},"paths":{"/fal-ai/veo3.1/fast/reference-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/veo3.1/fast/reference-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/veo3.1/fast/reference-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo31FastReferenceToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/veo3.1/fast/reference-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Veo31FastReferenceToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}