{"openapi":"3.0.4","info":{"title":"Queue OpenAPI for fal-ai/kling-video/v3/turbo/standard/image-to-video","version":"1.0.0","description":"The OpenAPI schema for the fal-ai/kling-video/v3/turbo/standard/image-to-video queue.","x-fal-metadata":{"endpointId":"fal-ai/kling-video/v3/turbo/standard/image-to-video","category":"image-to-video","thumbnailUrl":"https://v3b.fal.media/files/b/0a9e8d71/TxBCnKdpvigMDNbGcyta-_75938bbec6fe473e85a8d89094378c1e.jpg","playgroundUrl":"https://fal.ai/models/fal-ai/kling-video/v3/turbo/standard/image-to-video","documentationUrl":"https://fal.ai/models/fal-ai/kling-video/v3/turbo/standard/image-to-video/api","about":"Generate videos with Kling V3 Turbo (standard, 720p) Image to Video"}},"components":{"securitySchemes":{"apiKeyAuth":{"type":"apiKey","in":"header","name":"Authorization","description":"Fal Key"}},"schemas":{"QueueStatus":{"type":"object","properties":{"status":{"type":"string","enum":["IN_QUEUE","IN_PROGRESS","COMPLETED"]},"request_id":{"type":"string","description":"The request id."},"response_url":{"type":"string","description":"The response url."},"status_url":{"type":"string","description":"The status url."},"cancel_url":{"type":"string","description":"The cancel url."},"logs":{"type":"object","description":"The logs.","additionalProperties":true},"metrics":{"type":"object","description":"The metrics.","additionalProperties":true},"queue_position":{"type":"integer","description":"The queue position."}},"required":["status","request_id"]},"KlingVideoV3TurboStandardImageToVideoInput":{"x-fal-order-properties":["prompt","multi_prompt","image_url","duration"],"properties":{"image_url":{"limit_description":"Max file size: 50.0MB, Min width: 300px, Min height: 300px, Min aspect ratio: 0.40, Max aspect ratio: 2.50, Timeout: 20.0s","type":"string","description":"First-frame reference image. Formats: .jpg/.jpeg/.png; max 50MB; min 300px per side; aspect ratio within 1:2.5 to 2.5:1.","_fal_ui_field":"image","x-fal":{"min_aspect_ratio":0.4,"timeout":20,"min_height":300,"max_file_size":52428800,"min_width":300,"max_aspect_ratio":2.5},"examples":["https://v3b.fal.media/files/b/0a9ea079/Y8Pn9lNLLpGQtECV5LgX3_d6533d99ec5f45d88923f8e2bc41ad8d.png"],"title":"Image Url"},"prompt":{"anyOf":[{"maxLength":3072,"type":"string"},{"type":"null"}],"examples":["He sways gently into the note, cheeks pressing, sweat glistening, smoke drifting through the warm light. The camera eases in slowly. Photorealistic, soulful, moody."],"description":"Optional text prompt. For best results keep the prompt under 2500 characters. Mutually exclusive with `multi_prompt`.","title":"Prompt"},"multi_prompt":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/KlingV3MultiPromptElement"}},{"type":"null"}],"examples":[null],"description":"Multi-shot storyboard (1-6 shots). Each shot has its own prompt and duration; the total duration must not exceed 15s. Mutually exclusive with `prompt`.","title":"Multi Prompt"},"duration":{"default":"5","type":"string","description":"Video length in seconds.","title":"Duration","enum":["3","4","5","6","7","8","9","10","11","12","13","14","15"]}},"type":"object","required":["image_url"],"description":"Kling 3.0 Turbo (standard, 720p) image-to-video input.","title":"ImageToVideoV3TurboStandardRequest"},"KlingVideoV3TurboStandardImageToVideoOutput":{"x-fal-order-properties":["video"],"properties":{"video":{"examples":[{"content_type":"video/mp4","url":"https://v3b.fal.media/files/b/0a9ea0a1/Ayb-2fiZBthFQp-kLrw4M_output.mp4","file_name":"output.mp4","file_size":9274380}],"description":"The generated video","$ref":"#/components/schemas/File"}},"type":"object","required":["video"],"title":"ImageToVideoV3TurboStandardOutput"},"KlingV3MultiPromptElement":{"x-fal-order-properties":["prompt","duration"],"properties":{"prompt":{"type":"string","description":"The prompt for this shot.","title":"Prompt"},"duration":{"default":"5","type":"string","description":"The duration of this shot in seconds","title":"Duration","enum":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15"]}},"type":"object","required":["prompt"],"title":"KlingV3MultiPromptElement"},"File":{"x-fal-order-properties":["url","content_type","file_name","file_size"],"properties":{"content_type":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["image/png"],"description":"The mime type of the file.","title":"Content Type"},"url":{"type":"string","description":"The URL where the file can be downloaded from.","title":"Url"},"file_name":{"anyOf":[{"type":"string"},{"type":"null"}],"examples":["z9RV14K95DvU.png"],"description":"The name of the file. It will be auto-generated if not provided.","title":"File Name"},"file_size":{"anyOf":[{"type":"integer"},{"type":"null"}],"examples":[4404019],"description":"The size of the file in bytes.","title":"File Size"}},"type":"object","required":["url"],"title":"File"}}},"paths":{"/fal-ai/kling-video/v3/turbo/standard/image-to-video/requests/{request_id}/status":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}},{"name":"logs","in":"query","required":false,"schema":{"type":"number","description":"Whether to include logs (`1`) in the response or not (`0`)."}}],"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v3/turbo/standard/image-to-video/requests/{request_id}/cancel":{"put":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"The request was cancelled.","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean","description":"Whether the request was cancelled successfully."}}}}}}}}},"/fal-ai/kling-video/v3/turbo/standard/image-to-video":{"post":{"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV3TurboStandardImageToVideoInput"}}}},"responses":{"200":{"description":"The request status.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/QueueStatus"}}}}}}},"/fal-ai/kling-video/v3/turbo/standard/image-to-video/requests/{request_id}":{"get":{"parameters":[{"name":"request_id","in":"path","required":true,"schema":{"type":"string","description":"Request ID"}}],"responses":{"200":{"description":"Result of the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KlingVideoV3TurboStandardImageToVideoOutput"}}}}}}}},"servers":[{"url":"https://queue.fal.run"}],"security":[{"apiKeyAuth":[]}]}